%p#notice= notice

%p
  %b Title:
  = @task.title
%p
  %b Description:
  = @task.description
%p
  %b Difficulty:
  = @task.difficulty
%p
  %b Begin time:
  = @task.begin_time
%p
  %b End time:
  = @task.end_time
%p
  %b User:
  = @task.user_id
%p
  %b Proyect:
  = @task.proyect_id
%p
  %b Tasktype:
  = @task.tasktype_id
%p
  %b End bit:
  = @task.end_bit

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
